body, html {
	height: 100%;
	background-color: #00568B;

}

.background {
	/* width: 100%; */
	/* height: 100%; */
	/* box-sizing: border-box; */
	background-color: #00568B;
	background-size: cover;
}

.header {
	color: #FF9505;

}

body, .container-fluid {
	height: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-item {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
